<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Web Application made using backend.">
    <meta name="keywords" content="blog, post, author, content, creation">
    <meta name="author" content="Ajit Garg">
    <meta property="og:title" content="BlogNest">
    <meta property="og:description" content="Blog Web Application made using backend.">
    <title>BlogNest - A WebApp</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <main>

