<%- include("partials/header.ejs") %>

<h1 class="create_heading">New Post</h1>
<div class="main_create">
    <div class="create_form">
        <form action="/view" method="POST">
            <!-- <label for="blogTitle" class="formLabel">Title </label> <br> -->
            <input type="text" name="createBlogTitle" id="createBlogTitle" placeholder="Title" class="blog create_blog_title"> <br>
            <p class="author_details">
                <%= author %>, <%= currentDate %>
            </p>
            <textarea type="text" name="creteBlogBody" id="createBlogBody" placeholder="Body" class="blog create_blog_body"></textarea>
            <input type="submit" value="Submit" class="btn create_form_btn">
        </form>
    </div>
</div>

<%- include("partials/footer.ejs") %>